<div id="footer-container">
    <h5>Created by J.C. Lee @2019</h5>
    <span>&nbsp&nbsp|&nbsp&nbsp</span>
    <h5>Supported by Dong Sakapong</h5>
    <span>&nbsp&nbsp|&nbsp&nbsp</span>
    <h5>Educated by Software Park Thailand</h5>
</div>
<div style="clear: both;"></div>