<div id="signform-container">
    <h2>Join PikkaNode.</h2>
    <p class="signform-greeting">Create an account to enjoy with great moments from your place,<br>share stories with community, and brighten up your day.</p>
    <% if(flash && flash.error) {%>
        <p style="color: red"><%= flash.error %></p>
    <% } %>
    <form method="POST">
        <input type="text" name="email" placeholder="Email"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <input type="password" name="repassword" placeholder="Confirm Password"><br>
        <input type="submit" value="Register">
    </form>
    <span>Already have an account? </span><a href="/signin">Sign in</a>
</div>
<div style="clear: both;"></div>