<div class="upload-container">
    <h2>Share your day</h2>
    <p class="signform-greeting">Upload any moment at anytime. Tell us how is your day,<br>and receive more back from our community!</p>
    <form method="POST" enctype="multipart/form-data">
        <input name="photo" type="file" accept="image/jpeg, image/png" id="file" class="inputfile">
        <br>
        <textarea name="caption" rows="7" cols="50" placeholder="Add image's caption here."></textarea>
        <br>
        <button>Upload</button>
    </form>
</div>